* {
  font-family: system-ui;
}

:root {
  --bg: #181926;
  --text: #cad3f5;   
  --accent: #8aadf4;
  --subtext: #a5adcb;
  --base: #24273a;
  --base2: #363a4f;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
}
